<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>TeacherSearchController</servlet-name>
  	<display-name>TeacherSearchController</display-name>
  	<description></description>
  	<servlet-class>gr.aueb.elearn.teacherapp.controller.TeacherSearchController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeacherInsertController</servlet-name>
  	<servlet-class>gr.aueb.elearn.teacherapp.controller.TeacherInsertController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeacherDeleteController</servlet-name>
  	<servlet-class>gr.aueb.elearn.teacherapp.controller.TeacherDeleteController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PrepareTeacherUpdateController</servlet-name>
  	<display-name>PrepareTeacherUpdateController</display-name>
  	<description></description>
  	<servlet-class>gr.aueb.elearn.teacherapp.controller.PrepareTeacherUpdateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeacherUpdateController</servlet-name>
  	<display-name>TeacherUpdateController</display-name>
  	<description></description>
  	<servlet-class>gr.aueb.elearn.teacherapp.controller.TeacherUpdateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeacherSearchJSONController</servlet-name>
  	<servlet-class>gr.aueb.elearn.teacherapp.controller.TeacherSearchJSONController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TeacherSearchController</servlet-name>
  	<url-pattern>/TeacherSearchController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeacherInsertController</servlet-name>
  	<url-pattern>/TeacherInsertController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeacherDeleteController</servlet-name>
  	<url-pattern>/TeacherDeleteController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrepareTeacherUpdateController</servlet-name>
  	<url-pattern>/PrepareTeacherUpdateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeacherUpdateController</servlet-name>
  	<url-pattern>/TeacherUpdateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeacherSearchJSONController</servlet-name>
  	<url-pattern>/TeacherSearchJSONController</url-pattern>
  </servlet-mapping>
</web-app>
